/* Reset Default Styles */
*{
    margin: 0px;
    padding: 0px;
}

/* Import font that not installed on users computer */
@font-face{
    font-family: Ashby;
    src: url(/fonts/ASHBEB__.ttf);
}

/* Nav Bar Styles */
.nav {
    background-color: #000000;
}
.nav ul {
    display: flex;
    justify-content: space-around;
}
.nav ul li{
    list-style-type: none;
    display: flex;
    align-items: center;
    font-size: 30px;
}
.nav ul li a {
    text-decoration: none;
    color: white;
    font-family: Ashby;
}
.nav ul li a img{
    width: 100px;
    height: 100px;
}

/* Row-1 Contains All Cards*/
.row-1{
    display: flex;
    width: 99%;
    margin: 5px;
}

.row-1 div:nth-child(even){
    position: relative;
    /* animation: evenToRight 2.2s ease-in-out 1; */
    animation: evenToTop 2.2s  1;
    transition: All 2.2s ease-in-out;
}

.row-1 div:nth-child(odd){
    position: relative;
    animation: oddToLeft 2.2s 1;
    /* animation: oddToBottom 2.2s ease-in-out 1; */
    transition: All 2.2s ease-in-out;
}
/* Animation For Row-1 nth-childs */
/* @keyframes evenToRight{
    0%{
        position: relative;
        right: 500px;      
    }
    25%{
        position: relative;
        right: -500px;  
    }
    50%{
        position: relative;
        right: 500px;  
    }
    100%{
        position: relative;
        right: 0px;  
    }
} */
@keyframes oddToLeft{
    0%{
        position: relative;
        left: 500px;      
    }
    25%{
        position: relative;
        left: -500px;  
    }
    50%{
        position: relative;
        left: 500px;  
    }
    100%{
        position: relative;
        left: 0px;  
    }
}

@keyframes evenToTop{
    0%{
        position: relative;
        top: 500px;      
    }
    25%{
        position: relative;
        top: -500px;  
    }
    50%{
        position: relative;
        top: 500px;  
    }
    100%{
        position: relative;
        top: 0px;  
    }
}
/* @keyframes oddToBottom{
    0%{
        position: relative;
        bottom: 500px;      
    }
    25%{
        position: relative;
        bottom: -500px;  
    }
    50%{
        position: relative;
        bottom: 500px;  
    }
    100%{
        position: relative;
        bottom: 0px;  
    }
} */
/* Cards */
.row-1 .card-1, .row-1 .card-2, .row-1 .card-3, 
.row-1 .card-4, .row-1 .card-5, .row-1 .card-6{
    width: 33%;
    margin: 5px;
    height: 300px;
    border: 1px solid #192a56;
    box-shadow: 1px 1px #192a56;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

/* cards Images */
.row-1 .card-1 img, .row-1 .card-2 img,
 .row-1 .card-3 img, .row-1 .card-4 img,
 .row-1 .card-5 img, .row-1 .card-6 img{
    width: 100%;
    height: 230px;
}

/* Card Title */
.row-1 h3{
    text-align: center;
    margin-top: 12px;
}

/* Cards Hover */
.card-1:hover, .card-2:hover, .card-3:hover, 
.card-4:hover, .card-5:hover, .card-6:hover{
    box-shadow: 1px 1px 12px #353b48;
    transform: perspective(100px) translateZ(6px);
    transition: all 0.2s ease-in-out;
}
