#menu{
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: 253PX;
    
}
#menu ul li{
    list-style-type: none;
    display: flex;
    align-items: center;
    font-size: 30px;
}
#menu ul li a {
    text-decoration: none;
    color: white;
    font-family: Ashby;
}

#centre{
    width: 100%;
    height: 1140PX;
    background-color: rgb(0, 0, 0);
    background-size:    100%;
        
}
body{
    background-color: black;
}

#foot{background-color: rgb(53, 53, 53);
    width: 100%;
    height: 82PX;
    color: white;
    position: relative;
    top:50%;

}
.box{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    BACKGROUND-COLOR: black;
    height: 1240PX;
}
.box .element{
    width: 29%;
    height: 416PX;
    background-color: rgb(0, 0, 0);
    MARGIN-TOP: 10%;
    border: whitesmoke solid 1PX;
    box-shadow: 3px 19px 53px #797979;


}
  .name{
    POSITION: relative;
    LEFT: 4%;
    TOP: -2%;
    color: white;
    font-family:Ashby;
 
}

@font-face{
    font-family: Ashby;
    src: url(/font/ASHBBLI_.ttf);
}
#ST{
    POSITION: absolute;
    TOP: 32%;
    font-size: 108%;
    LEFT: 62%;
}
#WW{
    POSITION: absolute;
    TOP: 32%;
    font-size: 108%;
    LEFT: 28%;}
    audio:hover, audio:focus, audio:active
{
-webkit-box-shadow: 15px 15px 20px rgba(170, 6, 6, 0.4);
-moz-box-shadow: 15px 15px 20px rgba(185, 2, 2, 0.562);
box-shadow: 15px 15px 20px rgba(177, 2, 2, 0.4);
-webkit-transform: scale(1.05);
-moz-transform: scale(1.05);
transform: scale(1.05);
}


audio
{
-webkit-transition:all 0.5s linear;
-moz-transition:all 0.5s linear;
-o-transition:all 0.5s linear;
transition:all 0.5s linear;
-moz-box-shadow: 2px 2px 4px 0px #730000;
-webkit-box-shadow:  2px 2px 4px 0px #730000;
box-shadow: 2px 2px 4px 0px #730000;
-moz-border-radius:7px 7px 7px 7px ;
-webkit-border-radius:7px 7px 7px 7px ;
border-radius:7px 7px 7px 7px ;
POSITION: relative;
    LEFT: 8%;
}


#logo{ 
    width: 37%;
    POSITION: absolute;
    LEFT: 32%;
    TOP: 3%;
}

@media screen and (max-width: 600px){
    #menu{
        position: absolute;
        display: flex;
        height: 100px;
    }
    #menu ul li #ST{
        position: absolute;
        left: 10px;
    }

    #menu ul li #WW{
        position: absolute;
        left: 64%;
    }

    #menu ul li #logo{
        height: 90px;
    }
}
@media screen and (max-width:800px){
    .box .element{
        display: block;
        width: 500PX;
    }
    .box .element audio{
        width: 99%;
        margin-left: -8%;
    }
}

#foot{
    position: relative;
    top: 1470px;
}